html,
body {
    margin: 0;
    padding: 0;
    background-color: #2C2F33;
    font-size: 30px;

}


.score,
.result,
.endResults {
    display: flex;
    justify-content: center;

}

.playAgain {
    color: white;
    border-color: white;
    font-size: 30px;
    border-radius: 8px;
    cursor: pointer;
}

button {
    margin: 15px;
    border: black 1px;
    border-style: inset;
    background: none;
    overflow: hidden;

}

.choices {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 20px;
    margin-bottom: 20px;
}




/* .rockBox {
    width: 200px;
    height: 200px;
    overflow: hidden; 
}*/

.rock {
    background: url(rock_blank.png);
}

.paper {
    background: url(paper_blank.png);
}

.scissors {
    background: url(scissors_blank.png);
}

.grayedout {
    filter: grayscale(100%);
}

.rock,
.paper,
.scissors {

    display: flex;
    justify-content: center;
    align-items: end;
    padding: 0px;
    width: 200px;
    height: 200px;

}


.rockText,
.paperText,
.scissorsText {
    opacity: 75%;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    padding: 0;
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 27px;
    letter-spacing: -1px;
    background: rgba(34, 34, 34, 0.7);
    width: 200px;
    -webkit-font-smoothing: antialiased;
}

.hovering:hover {
    transition-duration: 0.3s;
    transform: scale(1.12);
    transform-origin: center;
    /* box-shadow: 0px 0px 6px 6px rgba(0, 255, 221, 0.4); */
    /* border-color: rgba(0, 0, 0, 0); */
    filter: brightness(105%);
    cursor: pointer;
}



.rock:hover .rockText,
.paper:hover .paperText,
.scissors:hover .scissorsText {
    opacity: 85%;
    color: white;
    transform: translateY(-30px);
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.88, -0.99, 0, 1.81);

}


p {
    white-space: pre;
    margin: 0;
    padding: 0;
    color: white;
}

.newGame {
    display: flex;
    justify-content: center;
}

.playerTextSelection,
.computerTextSelection {
    flex-wrap: wrap;
    width: 100%;

}


.resultBox {
    display: flex;
    justify-content: center;
}

.pscore,
.cscore {
    display: inline-flex;
    justify-content: center;
    border-style: solid;
    border-color: rgba 255, 255, 255, 0.2;
    border-width: 1px;
    height: 35px;

}


.playerBox,
.computerBox {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
}

.textCompare {
    display: flex;
    justify-content: center;


}

.playerTextSelection {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.computerTextSelection {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
}

.winLoseText {
    display: flex;
    justify-content: center;
}

.rules {
    display: flex;
    justify-content: center;
}